<div class="primary-screen" [class.edit-mode]="editMode">
  <div *ngIf="isLoading; else loaded" class="loading">Loading...</div>
  <ng-template #loaded>
    editmode: {{ editMode }}
    <!-- Edit mode -->
    <div *ngIf="hasPermission">
      <button
        class="btn btn-info float-right"
        [hidden]="editMode"
        (click)="editMode = true"
      >
        {{ "EnableEditMode" | localize }}
      </button>
      <button
        class="btn btn-danger float-right"
        [hidden]="!editMode"
        (click)="editMode = false"
      >
        {{ "DisableEditMode" | localize }}
      </button>
    </div>

    <!-- MODAL -->
    <div
      [config]="{ show: showModalOnInit }"
      (onHidden)="showGrid()"
      bsModal
      #modalForm="bs-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-auto-name"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <ng-container
              *ngTemplateOutlet="editMode ? formEditRef : formReadRef"
            ></ng-container>
          </div>
          <div *ngIf="!editMode" class="modal-footer">
            <button class="btn btn-info btn-sm" (click)="modalForm.hide()">
              {{ "Close" | localize }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- if place *ngIf here - it will recreate readonly form on each item change -->
    <!-- FORM -->
    <div class="container-fluid" [hidden]="showType !== 'FORM' || !selected">
      <div class="row">
        <span class="col">
          <button class="btn btn-secondary" (click)="showGrid()">
            <i class="fas fa-th"></i>
            {{ "BackToGrid" | localize }}
          </button>
        </span>
      </div>
      <div *ngIf="!editMode; else formEditRef">
        <ng-container *ngTemplateOutlet="formReadRef"></ng-container>
      </div>
    </div>

    <ng-template #formReadRef>
      <sr-readonly-form
        *ngIf="selected"
        [item]="selected.item"
        [localize]="localizeDescriptor"
        [view]="viewDescriptor.readFormTypeEntries"
      ></sr-readonly-form>
    </ng-template>

    <ng-template #formEditRef>
      <sr-edit-form
        *ngIf="selected"
        [item]="selected.item"
        [localize]="localizeDescriptor"
        [view]="viewDescriptor.editFormTypeEntries"
        (save)="saveItem($event)"
      ></sr-edit-form>
    </ng-template>

    <!-- GRID -->
    <sr-info-grid
      *ngIf="items"
      [items]="items"
      [localize]="localizeDescriptor"
      [view]="viewDescriptor.infoGridTypeEntries"
      [hidden]="showType === 'FORM'"
      (rowClicked)="onGridRowClicked($event)"
    ></sr-info-grid>
  </ng-template>
</div>
