<div class="primary-screen" [class.edit-mode]="editMode">
  <div
    *ngIf="{
      items: items$ | async,
      view: view$ | async,
      selected: selected$ | async
    } as data"
  >
    <!-- GRID -->
    <sr-info-grid
      *ngIf="data.items; else loading"
      [items]="data.items"
      [localize]="localizeDescriptor"
      [view]="viewDescriptor.infoGridTypeEntries"
      [hidden]="!data.view.grid"
      (rowClicked)="onGridRowClicked($event)"
    ></sr-info-grid>

    <!-- MODAL -->
    <ng-template #modalForm>
      <div class="modal-content">
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="editMode ? formEditRef : formReadRef"></ng-container>
        </div>
        <div *ngIf="!editMode" class="modal-footer">
          <button class="btn btn-info" (click)="hideModal()">
            {{ 'Close' | localize }}
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template #formReadRef>
      <sr-readonly-form
        *ngIf="data.selected"
        [item]="data.selected"
        [localize]="localizeDescriptor"
        [view]="viewDescriptor.readFormTypeEntries"
      ></sr-readonly-form>
    </ng-template>

    <ng-template #formEditRef>
      <sr-edit-form
        *ngIf="data.selected"
        [item]="data.selected"
        [localize]="localizeDescriptor"
        [view]="viewDescriptor.editFormTypeEntries"
        (cancel)="hideModal()"
      ></sr-edit-form>
    </ng-template>

    <!-- Buttons -->
    <div class="row">
      <!-- Back to Grid button -->
      <!-- <div class="col" [hidden]="showType !== 'FORM'"> -->
      <!-- <button class="btn btn-secondary" (click)="showGrid()">
          <i class="fas fa-th"></i>
          {{ 'BackToGrid' | localize }}
        </button> -->
      <!-- </div> -->
      <!-- Edit mode -->
      <div *ngIf="permissions" class="col">
        <button class="btn btn-info float-right" [hidden]="editMode" (click)="editMode = true">
          {{ 'EnableEditMode' | localize }}
        </button>
        <button class="btn btn-danger float-right" [hidden]="!editMode" (click)="editMode = false">
          {{ 'DisableEditMode' | localize }}
        </button>
      </div>
    </div>

    <div *ngIf="data.selected">
      <!-- FORM -->
      <div class="" [hidden]="!data.view.form">
        <div *ngIf="!editMode; else formEditRef">
          <ng-container *ngTemplateOutlet="formReadRef"></ng-container>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div class="loading">Loading</div>
    </ng-template>
  </div>
</div>
