<form #authForm="ngForm" (ngSubmit)="onSubmit()" class="form">
  {{ debug }}
  <div class="form-group">
    <label for="username">Username</label>
    <input
      [(ngModel)]="model.username"
      type="text"
      class="form-control form-control-sm"
      name="username"
      id="username"
      placeholder="Username"
      autocomplete="username"
      #username="ngModel"
    />
    <div
      [hidden]="username.valid || username.pristine"
      class="alert alert-danger"
    >
      Username is required
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      [(ngModel)]="model.password"
      type="password"
      class="form-control form-control-sm"
      name="password"
      id="password"
      placeholder="Password"
      autocomplete="current-password"
      #password="ngModel"
    />
    <div
      [hidden]="password.valid || password.pristine"
      class="alert alert-danger"
    >
      Password is required
    </div>
  </div>
  <div class="form-check">
    <input
      [(ngModel)]="model.rememberMe"
      type="checkbox"
      class="form-check-input"
      name="rememberMe"
      id="rememberMe"
      #rememberMe="ngModel"
    />
    <label for="rememberMe">Remember me</label>
  </div>
  <div class="">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!authForm.form.valid"
    >
      Login
    </button>
    <button class="btn btn-danger" (click)="close()">Cancel</button>
  </div>
</form>
