<table
  class="table
        b-table
        table-striped
        table-hover
        table-sm"
>
  <thead class="">
    <tr>
      <th
        *ngFor="let header of headers"
        tabindex="0"
        scope="col"
        (click)="clickHead(header, $event)"
      >
        <span [ngClass]="header.class">
          {{ header.field.label || header.key }}
        </span>
      </th>
    </tr>
  </thead>
  <tbody class="">
    <tr class="" mdbTableCol *ngFor="let item of items">
      <!-- TODO: aria-colindex -->
      <td *ngFor="let field of fields" class="">{{ item[field.key] }}</td>
    </tr>
  </tbody>
</table>
