<div>
  <h2>Powers</h2>
  <table class="table b-table table-striped table-hover table-sm"
>
  <thead class="">
    <tr>
      <th
        tabindex="0"
        class="sort-column"
        (click)="sortBy('name')"
      >
      Name
      </th>
      <th
        tabindex="0"
      >
        Book
      </th>
      <th
        tabindex="0"
      >
        Points
      </th>
      <th
        tabindex="0"
      >
        Duration
      </th>
      <th
        tabindex="0"
      >
        Distance
      </th>
      <th
        tabindex="0"
      >
        Rank
      </th>
    </tr>
  </thead>
  <tbody class="">
    <tr class="" mdbTableCol  *ngFor="let power of powers">
        <td aria-colindex="1" class="">{{ power.name }}</td>
        <td aria-colindex="2" class="">{{ power.book }}</td>
        <td aria-colindex="3" class="">{{ power.points }}</td>
        <td aria-colindex="4" class="">{{ power.duration }}</td>
        <td aria-colindex="5" class="">{{ power.distance }}</td>
        <td aria-colindex="6" class="">{{ power.rank }}</td>
    </tr>
  </tbody>
</table>
</div>

<!-- <div>
  <h2>Powers</h2>
  <mdb-icon fab icon="fab fa-500px"></mdb-icon>
  <mdb-icon far icon="fab fa-address-book"></mdb-icon>
  <i class="fas fa-arrow-alt-circle-down"></i>
  test
  <mdb-icon fas icon="fab fa-arrow-alt-circle-down"></mdb-icon>
  tset
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            Name
            <mdb-icon fas icon="fas fa-sort"></mdb-icon>
            <mdb-icon icon="fas fa-sort" (click)="sortBy('name')"></mdb-icon>
          </th>
          <th>
            Book
            <mdb-icon icon="sort" (click)="sortBy('book')"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Position</th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let power of powers">
          <td>{{ power.name }}</td>
          <td>{{ power.book }}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div>
      <label>power name:
        <input #powerName />
      </label>
      <button (click)="add(powerName.value); powerName.value=''">
        add
      </button>
    </div>
     
    <ul class="powers">
      <li *ngFor="let power of powers">
        <a routerLink="/detail/{{power.id}}">
          <span class="badge">{{power.id}}</span> {{power.name}}
        </a>
    </ul>
</div> -->
