<div>
  <button *ngIf="!isAuthenticated; else logoutTemplate" class="btn btn-info" (click)="openModal(modalTemplate)">{{L['Login']}}</button>
  <ng-template #logoutTemplate>
    <button class="btn btn-danger" (click)="unauthenticate()">{{L['Logout']}}</button>
  </ng-template>
  <ng-template #modalTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{L['Login']}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <sr-auth-form (closed)="modalRef.hide()"></sr-auth-form>
      </div>
    </ng-template>
</div>
