<div class="container">
  <div class="card">
    <div class="card border">
      <div class="card-body">
        <h2 class="card-title">{{ "Login" | localize }}</h2>
        <div class="card-text">
          <sr-auth-form
            *ngIf="!state.isAuthenticated; else logged"
          ></sr-auth-form>
          <ng-template #logged>
            <h4>{{ "YourAreLogged" | localize }}</h4>
            <p>
              <b>{{ "Username" | localize }}</b
              >: {{ state.username }}
            </p>
            <p>
              <b>{{ "Permissions" | localize }}</b
              >: {{ state.permissions }}
            </p>
            <button class="btn btn-danger" (click)="logout()">
              {{ "Logout" | localize }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
