<?xml version="1.0" encoding="utf-8" ?>
<log4net
  xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="App_Data/Logs/Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RequestFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/request.txt" />
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd-HH" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] %newline%message%newline%newline" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppender" />
    <level value="WARN" />
  </root>
  <logger name="SavageRuler.Web.Host.Startup.RequestResponseLoggingMiddleware">
    <level value="DEBUG"/>
    <appender-ref ref="RequestFileAppender"/>
  </logger>
</log4net>
